{% extends "layout.html" %}

{% block title %}
    MY POSTS
{% endblock %}

{% block main %}

    <div class="others-post-header">
        <h1> My Posts </h1>
    </div>

    <div>

        {% for post in user_posts %}

            <div class="others-post-container">

                <h2>{{ post["title"] }} </h2>

                <p>{{ post["content"] }} </p>

                <div class="row">

                    <div class="column left">
                        <p class="username"><strong> @{{ post["username"] }} </strong></p>
                    </div>

                    <div class="column right">
                        <p> {{ post["time_stamp"] | format_datetime }} </p>
                    </div>

                </div>

                <form action="/my-posts" method="post" onsubmit="return confirm('Are you sure you want to delete the post?');">
                    <input type="hidden" name="post_id" value="{{ post['id'] }}">
                    <button type="submit" class="btn btn-danger mt-2">Delete</button>
                </form>

            </div>

        {% endfor %}

    </div>

{% endblock %}